@model Pago

<h1>Crear Pago</h1>

<form asp-action="Crear" method="post">
    <input asp-for="IdContrato" type="hidden" />
    <h3>@Model.IdContrato</h3>
    <div class="form-group">
        <label asp-for="FechaPago" class="control-label"></label>
        <input asp-for="FechaPago" class="form-control" type="date" />
        <span asp-validation-for="FechaPago" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NumeroPago" class="control-label"></label>
        <input asp-for="NumeroPago" class="form-control" />
        <span asp-validation-for="NumeroPago" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Importe" class="control-label"></label>
        <input asp-for="Importe" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="Importe" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Detalle" class="control-label"></label>
        <textarea asp-for="Detalle" class="form-control"></textarea>
        <span asp-validation-for="Detalle" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>
</form>
